{
  "extends": "airbnb",
  "parser": "babel-eslint",
  'env': {
    'es6': true
  },
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "object-curly-spacing": 0,
    "comma-dangle": 0,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "max-len": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-single"],
    "no-case-declarations": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow": 0,
    "array-callback-return": 0,
    "no-nested-ternary": 0
  },
  "ecmaFeatures": {
    "spread": true
  }
}
