.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  > a {
    padding: 0 15px;
    font-size: 14px;
  }
}

.topic {
  padding-top: 15px;
  border-top: 1px solid #eee;
  margin-top: 15px;
  text-align: center;
}
